<a href="https://colab.research.google.com/github/marcoantonioclpz/Marco-Currais/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Introdução

## 1.1 Objetivo:

O objetivo deste projeto é consolidar os conteúdos aprendidos na sprint do curso, como não trabalho com ciência de dados preciso praticar os conceitos e os termos. Desta forma, escolhi o dataset do Titanic por ser um conteúdo conhecido e isso ajudar na análise e ser um tema com muito conteúdo na Internet.

<br>

A ideia desse modelo é prever se os passageiros sobreviveram ou não ao desastre. Embora houvesse algum elemento de sorte envolvido na sobrevivência, parece que alguns grupos de pessoas tinham maior probabilidade de sobreviver do que outros.

<br>

Desta forma, construimos um modelo preditivo que respondesse à pergunta: "que tipo de pessoas tinham maior probabilidade de sobreviver?" usando dados de passageiros (ou seja, nome, idade, sexo, classe socioeconômica, etc.).

<br>

**Link:** https://www.kaggle.com/competitions/titanic

## 1.2 Descrição do problema:

O problema escolhido foi o "Titanic - Machine Learning from Disaster" com os dados disponíveis no Kaggle. É um dataset de competição e como nunca participei de uma competição gostaria de iniciar com esse desafio. A ideia é utilizar o aprendizado de máquina para criar um modelo que preveja quais passageiros sobreviveram ao naufrágio do Titanic.

<br>

O naufrágio do Titanic já foi descrito em filmes e é muito famoso.

<br>

Em 15 de abril de 1912, durante sua viagem inaugural, o navio RMS Titanic afundou após colidir com um iceberg. Infelizmente, não havia botes salva-vidas suficientes para todos a bordo, resultando na morte de 1502 dos 2224 passageiros e tripulantes.

## 1.3 Premissas:

O dataset do Titanic, disponibilizado pelo Kaggle, contém registros sobre os passageiros do navio que naufragou em 1912, abrangendo variáveis como sexo, idade, classe da passagem, valor pago, número de familiares a bordo e porto de embarque. A premissa adotada neste estudo é que essas características exerceram influência direta na probabilidade de sobrevivência dos indivíduos, refletindo aspectos sociais e demográficos da época. A partir dessa suposição, propõe-se a aplicação de algoritmos de machine learning para identificar padrões nos dados históricos e desenvolver modelos de classificação capazes de estimar a chance de sobrevivência com base nos atributos fornecidos.

<br>

**Natureza dos dados:** mistura de variáveis numéricas, categóricas e textuais.

<br>

**Desafio principal:** lidar com valores ausentes em variáveis como Age e Cabin.

## 1.4 Descrição do Dataset:

O Titanic – Machine Learning from Disaster, disponibilizado na plataforma Kaggle contém informações sobre os passageiros do navio Titanic permitindo explorar os fatores associados à sobrevivência.

<br>

O dataset está dividido em dois arquivos principais:

<br>

**train.csv** – utilizado para treinamento dos modelos. Inclui os dados dos passageiros, com a variável-alvo (Survived).

<br>

**test.csv** – utilizado para avaliação do modelo. Contém os mesmos atributos, mas sem o rótulo de sobrevivência, sendo o objetivo prever o valor da variável-alvo.

### 1.4.1 Variável-alvo

**Survived:** indica se o passageiro sobreviveu ao naufrágio.

- 0 = não sobreviveu
- 1 = sobreviveu

### 1.4.2 Principais variáveis explicativas

- **PassengerId** – identificador único de cada passageiro.
- **Pclass** – classe da passagem (1ª, 2ª ou 3ª).
- **Name** – nome do passageiro.
- **Sex** – sexo (male/female).
- **Age** – idade em anos.
- **SibSp** – número de irmãos/cônjuges a bordo.
- **Parch** – número de pais/filhos a bordo.
- **Ticket** – número do bilhete.
- **Fare** – tarifa paga pela passagem.
- **Cabin** – cabine do passageiro (quando disponível).
- **Embarked** – porto de embarque (C = Cherbourg, Q = Queenstown, S = Southampton).

### 1.4.3 Características do dataset

**Total de registros (train.csv):** 891 passageiros.

<br>

**Número de variáveis:** 12 colunas no arquivo de treino.

<br>

**Natureza dos dados:** mistura de variáveis numéricas, categóricas e textuais.

<br>

**Desafio principal:** lidar com valores ausentes em variáveis como Age e Cabin.

### 1.4.4 Links dos datasets

O dataset está hospedado no Google Drive, em um arquivo de extensão .csv, podendo ser acessado através do link público a seguir:

<br>

**Base de treino:**
https://drive.google.com/file/d/1BNiefiKrhC86_x5Dob_QX5mI_qrRE1Nb/view?usp=drivesdk

<br>

**Base de teste:**
https://drive.google.com/file/d/1wG_bUxGF8BTv3iMo4tSCFmxNAQggU4rk/view?usp=drivesdk

<br>

**Base de validação:**
https://drive.google.com/file/d/1wG_bUxGF8BTv3iMo4tSCFmxNAQggU4rk/view?usp=drivesdk

# 2. Instalar e importar as bibliotecas necessárias

In [262]:
#importando a biblioteca pandas
import pandas as pd

# 3. Entendendo a Base de Dados

## 3.1 Baixar e extrair o dataset

In [263]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## 3.2 Analisar os dados de Treino
Analisaremos os dados da base de treino e verificaremos as informações de dados nulos, tipos de dados e informações da base.

In [264]:
train = pd.read_csv('/content/drive/MyDrive/train.csv', sep=',')
train .head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [265]:
# Retornando o shape da base
train.shape

(891, 12)

In [266]:
# Verificando as informações da base
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [267]:
# Verificando o tipo dos dados
train.dtypes.value_counts()

int64      5
object     5
float64    2
Name: count, dtype: int64

In [268]:
# Verificando os valores nulos
train.isnull().sum().sort_values(ascending=False).head(5)

Cabin          687
Age            177
Embarked         2
PassengerId      0
Name             0
dtype: int64

In [269]:
# Visualizando novamente a base
train.head(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [270]:
# Verificando a cardinalidade dos dados
train.nunique().sort_values(ascending=False)

PassengerId    891
Name           891
Ticket         681
Fare           248
Cabin          147
Age             88
SibSp            7
Parch            7
Embarked         3
Pclass           3
Survived         2
Sex              2
dtype: int64

In [271]:
# Eliminando esses atributos da base de treino
train = train.drop(columns=['PassengerId', 'Name', 'Ticket'], axis=1)

## 3.3 Analisando os dados de Teste

Analisaremos os dados da base de teste e verificaremos as informações de dados nulos, tipos de dados e informações da base.

In [272]:
# Visualizando a base de teste
teste = pd.read_csv('/content/drive/MyDrive/test.csv', sep=',')
teste.head(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [273]:
# Retornando o shape da base
teste.shape

(418, 11)

In [274]:
# Verificando as informações da base
teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB

In [275]:
# Verificando o tipo dos dados
teste.dtypes.value_counts()

object     5
int64      4
float64    2
Name: count, dtype: int64

Temos colunas que possuem valores vazios na base de teste que não estão vazias na base de treino. Neste caso, vamos tratar os valores vazios.

In [276]:
# Visualizando novamente a base
teste.head(4)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S

## 3.4 Realizando os tratamentos iniciais dos dados

### 3.4.1 Cardinalidade

Colunas com alta cardinalidade como PassengerId, Name e Ticket não vão ajudar o modelo pois possuem muitos valores únicos e não conseguimos generalizar. Nesse caso, vamos eliminar essas colunas.

In [277]:
# Verificando a cardinalidade dos dados
train.nunique().sort_values(ascending=False)

Fare        248
Cabin       147
Age          88
Parch         7
SibSp         7
Embarked      3
Pclass        3
Survived      2
Sex           2
dtype: int64

In [278]:
# Eliminando esses atributos da base de treino
train = train.drop(columns=['PassengerId', 'Name', 'Ticket'], axis=1)

KeyError: "['PassengerId', 'Name', 'Ticket'] not found in axis"

In [ ]:
# Verificando a cardinalidade dos dados
teste.nunique().sort_values(ascending=False)

In [ ]:
# Eliminando esses atributos da base de teste
teste = teste.drop(columns=['PassengerId', 'Name', 'Ticket'], axis=1)

### 3.4.2 Valores nulos

A coluna Age possui valores vazios tanto no treino quanto no teste. Como essa coluna possui a idade dos passageiros, vamos utilizar a média das idades para substituir os valores vazios.

In [ ]:
# Verificando os valores nulos
teste.isnull().sum().sort_values(ascending=False).head(5)

In [ ]:
# Verificando a média das idades para a base de treino
teste.Age.mean()

In [ ]:
# Selecionar as colunas com idade vazia e substituir por essa média
teste.loc[teste.Age.isnull(),'Age'] = teste.Age.mean()

In [ ]:
# Verificando os valores nulos
train.isnull().sum().sort_values(ascending=False).head(5)

In [ ]:
# Verificando a média das idades para a base de treino
train.Age.mean()

In [ ]:
# Selecionar as colunas com idade vazia e substituir por essa média
train.loc[train.Age.isnull(),'Age'] = train.Age.mean()

In [ ]:
# E fazendo o mesmo para a base de treino
train.loc[train.Age.isnull(),'Age'] = train.Age.mean()